body {
  background-color: #eaeaea;
}

.ui.fixed.menu {
  background-image: linear-gradient(to right, #ee0979, #ff6a00);
}

.ui.main.container {
  margin-top: 7em;
}
.ui.button.pinkButton {
  background-color: #ee0979;
}
