body {
  background-color: #eaeaea;
}

.ui.fixed.menu {
  background-image: linear-gradient(to right, #ee0979, #ff6a00);
}

.ui.main.container {
  margin-top: 7em;
}
.ui.button.pinkButton {
  background-color: #ee0979;
}

.masthead {
  display: flex;
  align-items: center;
  background-image: linear-gradient(to right, #ee0979, #ff6a00) !important;
  height: 100vh;
}

.masthead h1.ui.header {
  font-size: 4em;
}

.ui.inverted.pink.segment {
  background-image: linear-gradient(to right, #ee0979, #ff6a00);
}

.ui.inverted.attached.segment {
  background-image: linear-gradient(to right, #ee0979, #ff6a00);
}

.react-datepicker-wrapper {
  width: 100%;
}
